spring:
    datasource:
        url: jdbc:mysql://localhost/ac-service
        username: root
        password: Root
    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true
        properties:
            hibernate:
                format_sql: true
server:
    port: 1200
